:root {
  /* GREY SCALE */
  --dark-grey: #121212;
  --medium-grey: #444444;
  --grey: #868686;
  --light-grey: #dedede;
  --white: #ffffff;

  /* PALETTE 1 */
  --dark-blue: #112D4E;
  --blue: #3F72AF;
  --light-blue: #DBE2EF;
  --not-white: #F9F7F7;

  /* PALETTE 2 */
  --orange1: #CA7A55;
  --yellow1: #FBD865;
  --yellow2: #fCCE36;

  /* PALETTE 3 */
  --peach-yellow: #FEDF99ff;
  --butterscotch: #E79D53ff;
  --engineering-orange: #B4140Dff;
  --black: #000000ff;

  /* PALETTE 4 */
  --raisin-black: #312027ff;
  --rose-taupe: #816664ff;
  --khaki: #BCA695ff;
  --sunset: #EDD0A2ff;
  --black: #000000ff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--not-white);
}

/* FONTS */
@font-face {
  font-family: 'SFProBold';
  src: url('../public/fonts/SFPRODISPLAYBOLD.OTF');
}

@font-face {
  font-family: 'SFProMedium';
  src: url('../public/fonts/SFPRODISPLAYMEDIUM.OTF');
}

@font-face {
  font-family: 'SFProRegular';
  src: url('../public/fonts/SFPRODISPLAYREGULAR.OTF');
}

* {
  background-color: var(--not-white);
  font-family: SFProMedium;
}