#section1 {
    font-family: SFProMedium;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
    justify-content: space-evenly;

    #article1 {
        margin-left: 12%;

        h1 {
            margin-top: 12px;
            font-size: 32px;
            background: rgb(237, 208, 162);
            background: linear-gradient(33deg, rgba(237, 208, 162, 1) 0%, rgba(252, 206, 54, 1) 25%, rgba(202, 122, 85, 1) 50%, rgba(129, 102, 100, 1) 75%, rgba(49, 32, 39, 1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #div1 {
            margin-left: 2%;
            font-size: 18px;
        }
    }

    #cube {
        margin-right: 12%;
        width: 500px;
        background-color: transparent;
    }
}